
.layout{
    min-height: 600px;
    width: 100%
}

.innerbox {  
    border: solid 2px grey;
    border-radius: 10px;
    font-size: small;
    text-align: center;  
    background-color: white;      
    position: relative;
    top: 0px;   
  }
  
  .conbox {
    cursor: pointer;
    max-width: 160px !important;            
    position: relative;
  }
  
  .iconbox {
    width: 30px;
    height: 30px;    
  }
  
  .textbox {
    width: 80px;
    height: 30px;  
  }
  
  .portholder{
    display: flex;
    flex-direction: column;
    width: 20px;
    position: absolute;
    left: -5px
  }
  
  .outportholder{  
    width: 20px;
    top: -22px;   
    left: 154px;
    position: absolute;      
  }
  
  
  .portbox {
    height: 10px;
    width: 10px;
    border: 1px solid #808080;
    background-color: lightgray;
    border-radius: 20%;
    cursor: crosshair;  
    z-index: 99;
  }
  

  .inport{
    margin-top: 1px;
  }
  .outport{
    margin-top: 1px;
  }

  i{
    font-size: 12px;
  }
  
  .svgbox{
    position: absolute;
    top:0 !important;
    z-index: -1;
  }
  
  .selectedOperator{
    border: 2px solid black;
  }
  
  .selectedPort{
    background-color: green;
  }

  mat-icon{
    cursor: pointer;  
  }
  