.operator {
  display: inline-block;
  border: solid 2px grey;
  border-radius: 10px;
  font-size: small;
  text-align: center;  
  background-color: white;
}

.cbox {
  cursor: pointer;
  min-width: 200px !important;
}

.iconbox {
  width: 30px;
  height: 30px;  
  border-right: solid 2px #808080;
}

.textbox {
  width: 120px;
  height: 30px;  
}

.port {
  height: 10px;
  width: 10px;
  position: relative;
  border: 1px solid #808080;
  background-color: lightgray;
  border-radius: 20%;
  display: inline-block;
  cursor: crosshair;
  top: -10px;
}


.inport{
  left:5px;
}

.outport{
  left:-5px;
}
.mat-list-item {
  background-color: white !important;  
  margin-top:0 !important;
}

i{
  font-size: 12px;
}