<div class="container-fluid">
    <div class="row mt-2 p-2 border-bottom">
        <h3> API Configuration</h3>
    </div>
  <div class="row mt-2 p-2 border-bottom">
    <button mat-raised-button color="primary">Generate API</button>
  </div>
  <div class="row mt-2 p-2 border-bottom">
    <code>http://localhost:3000/af/api/v1/flow/fid/process/pid</code>
  </div>

  <div class="row mt-2 p-2 border-bottom">
    <button mat-raised-button color="primary">Generate Credentials</button>
  </div>
  <div class="row mt-2 p-2 border-bottom">
    <code>http://localhost:3000/af/api/v1/flow/fid/oauth/token</code>
  </div>
  <div class="row mt-2 p-2 border-bottom">
    <table>
      <tr>
        <td class="p-1">
          <b>Client ID</b>
        </td>
        <td class="p-1">
          <samp class="text-secondary">3m2j24hjneku23hek22 </samp>
        </td>
      </tr>
      <tr>
        <td class="p-1">
          <b>Client Secret</b>
        </td>
        <td class="p-1 breakword">
          <samp class="text-secondary">nsjhxc7ndc8d8sc9dchs9d8c0csdchsdo9c8sj </samp>
        </td>
      </tr>
    </table>
  </div>
</div>
